/* Estilos del TextField */
.neon-textfield {
  color: white !important; /* Texto en blanco */
  background-color: rgba(0, 0, 0, 0.7) !important; /* Fondo oscuro */
}


/* Estilos del label */
.neon-label {
  color: #ff0707 !important; /* Label en color rojo neón */
  font-size: 14px !important;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff073a !important; /* Efecto de neón */
}

/* Estilos del icono de búsqueda */
.search-icon {
  color: white !important; /* Icono de búsqueda blanco */
}
.gallery-container {
  width: 100%; /* Ajusta al ancho completo del contenedor */
}


.centered-search .MuiInputBase-input {
  color: white; /* Cambia el color del texto dentro del campo de búsqueda */
}

/* Opcionalmente, si también quieres cambiar el color del texto del label */
.centered-search .MuiInputLabel-root {
  color: white; /* Cambia el color del label */
}



  

 
  